img {
  width: 150px; 
}

div {
  display: flex;
}

section {
 font-family: 'Pacifico', cursive; 
 width: 200px;
 text-align: center;
 align-self:flex-end;
}

h1{
  font-family: 'Comic Neue', cursive;

}

a {
  display: block;
}